.user-video-container {
  height: 49vh;
  padding: 0.1rem;
  position: relative;

  //border: 1px white solid;
  // background-color: rgba(255, 255, 255, 0.884);
  border-radius: 15px;

  .user-video {
    left: 0;
    height: 100%;
    border-radius: 12px;
    // cursor: pointer;
    //width: 460px;
  }
  .user-image {
    left: 0.5rem;
    top: 0.5rem;
    position: absolute;
    z-index: 1;
    background-color: rgba($color: rgb(196, 223, 255), $alpha: 1);

    border-radius: 50%;
    height: 20%;
  }
}
