.user-video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50vh;
    text-align: center;
position: relative;
    .user-video{
        margin: 0 auto;
        // left: 0;
        // position: absolute;
        height: 100%;
        z-index: 1;
    }
    .user-image{
        // left: 4.5rem;
        left: 15%;
        position: absolute;
        // width: 50%;
        height: 100%;
    }
}