.video-room{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    min-height: 90%;
    overflow: hidden;
    .leave-button{
        position: fixed;
        bottom: 0.7rem;
        left: 0.7rem;
        padding: 0.5rem;
    }
.self-mute-button{
    position: fixed;
        bottom: 4.7rem;
        left: 0.7rem;
        padding: 0.5rem;
}
.stop-self-video-button{
    position: fixed;
        bottom: 6.7rem;
        left: 0.7rem;
        padding: 0.5rem;
}
.share-screen-button{
    position: fixed;
        bottom: 2.7rem;
        left: 0.7rem;
        padding: 0.5rem;
}
}
::-webkit-scrollbar {
    display: none;
}