@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.button {
  background-color: #861ae4;
  font-size: 1.15em;
  padding: 0.8rem;
  border: none;
  color: white;
  border-radius: 5px;
}

.button:hover {
  font-size: 1.1rem;
  color: white;
  background-color: #6591c7;
}

.form-div {
  border: 2px solid #5e86b8;
  background-color: white;
  border-radius: none;
}

.video-room {
  background-image: url("https://images.unsplash.com/photo-1625993254667-a6b8dc27e531?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  height: 100%;
  overflow: hidden;
}

.video-room nav.navbar {
  display: none;
}

.video-room .room-state {
  position: absolute;
  top: 2rem;
  left: 4rem;
  border-radius: 50%;
  padding: 1rem;
  svg-fill: #110322;
  background-color: rgba(239, 239, 239, 0.76);
}

.video-room .media-premision-err-div {
  padding: 0 4rem;
}

.video-room .media-premision-err-div button {
  margin: 3rem;
  padding: 1rem;
  font-size: 1.2rem;
}

.video-room .media-premision-err-div button:hover {
  margin: 3rem;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #d40e5a;
}

.video-room .media-premision-err-div .h1-permission {
  font-size: 4.2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.video-room .choose-host-box {
  -webkit-box-shadow: -8px 8px 16px 2px rgba(0, 0, 0, 0.6);
          box-shadow: -8px 8px 16px 2px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 5rem;
  right: 9rem;
  padding: 1rem;
  z-index: 1;
}

.video-room .choose-host-box .x {
  position: absolute;
  top: 0.6rem;
  right: 1rem;
  padding-bottom: 1.5rem;
}

.video-room .choose-host-box button {
  padding: 0.3rem;
  margin: 1rem;
  background-color: #d40e5a;
  background-color: blueviolet;
}

.video-room .choose-host-box button:hover {
  background-color: blueviolet;
  background-color: #d40e5a;
}

.video-room .choose-host-box p {
  margin-top: 1.5rem;
  font-size: 1.3rem;
}

.video-room .choose-host-box .host-choise img {
  border-radius: 50%;
  height: 3rem;
}

.video-room .leave-button {
  position: absolute;
  top: 2.4rem;
  right: 1rem;
  color: black;
  padding: 0.7rem 0.8rem;
  border: 1px solid black;
  background-color: rgba(239, 239, 239, 0.76);
}

.video-room .leave-button svg {
  fill: black;
}

.video-room button:hover {
  background-color: #d40e5a;
}

.video-room button {
  font-size: 1em;
  background-color: blueviolet;
  border: none;
  color: white;
  border-radius: 5px;
}

.video-room .close-room-btn {
  position: absolute;
  top: 6.4rem;
  right: 1rem;
  color: black;
  border: 1px solid black;
  background-color: rgba(239, 239, 239, 0.76);
  padding: 0.13rem 1.3rem;
}

.video-room .close-room-btn svg {
  fill: black;
}

.video-room .others-video {
  height: 50vh;
  border-radius: 15px;
  padding-right: 4rem;
  margin: 0 4rem;
  background-color: rgba(239, 239, 239, 0.76);
}

.video-room .self-video-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  border-radius: 15px;
  background-color: rgba(239, 239, 239, 0.76);
  position: relative;
}

.video-room .self-video-box .video-buttons-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
  height: 250px;
}

.video-room .self-video-box .video-buttons-div p {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  padding-bottom: 0;
}

.video-room .self-video-box .video-buttons-div div {
  width: 73.275px;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: "Roboto";
}
/*# sourceMappingURL=VideoRoom.css.map */