@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #f3f3f3;
}
#root{
    height: 100%;
    font-family: 'Nunito', sans-serif;
}