// colors
$mainColor: rgb(252, 34, 52);
$secondaryColor: #578384;
$backgroundColor: #f3f3f3;
$divBackgroundColor: white;

// $backgroundColor: #CFE0EA;
$spicyColor: #01949a;
//butons colors
$buttonBackround: rgb(134, 26, 228);
$buttonHover: rgb(101, 145, 199);
//form border color
$borderColor: rgb(94, 134, 184);
// sizes
$borderDetails: 0.6px solid rgba(0, 0, 0, 0.2);
$smallBorderRadius: 7px;
$smallShadowBoxDetails: 0px 2px 5px 0px rgba($color: #000000, $alpha: 0.1);
$shadowBoxDetails: -8px 8px 16px 2px rgba( $color: #000000, $alpha: 0.6);
$shadowBoxDetailsRight: 8px 8px 16px 2px
  rgba(
    $color: #000000,
    $alpha: 0.6,
  );
.button {
  background-color: $buttonBackround;

  font-size: 1.15em;
  padding: 0.8rem;

  border: none;
  color: white;

  border-radius: 5px;
  &:hover {
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(101, 145, 199);
  }
}
$formBorder: 2px solid rgb(94, 134, 184);
.form-div {
  border: 2px solid rgb(94, 134, 184);
  background-color: $divBackgroundColor;
  border-radius: none;
}
