@import '../Common/styles/themeColors.scss';
 
.lobby{
    // background-color: $backgroundColor;
    // min-height: 100%;
}

.rooms-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    margin-top: 7rem;

}
.new-room-button{
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    z-index: 2;
    background-color: rgba( $color: $spicyColor, $alpha: 0.5);
    border-radius: $smallBorderRadius;


}