@import '../../Common/styles/themeColors.scss';

.form-container {
  display: flex;
  justify-content: center;
  // align-items: center;
  position: fixed;
  z-index: 3;
  left:0;
  bottom: 8rem;
  box-shadow: $shadowBoxDetailsRight;
  border-top-right-radius: $smallBorderRadius;
  border-bottom-right-radius: $smallBorderRadius;
  animation: rotate-in .4s;
  //  iteration-count direction fill-mode;
}
.room-details{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  .limit, .lock-room{
    display: flex;
    align-items: center;
  }
}
.new-room-form {
  border-top-right-radius: $smallBorderRadius;
  border-bottom-right-radius: $smallBorderRadius;
  padding: 1rem 3rem;
  background-color: rgba($color: $spicyColor, $alpha: 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px black solid;
  // width: 40%;
  height: 60vh;
  // padding: 1.5rem 0 1.5rem 0;
   
}

.form-content {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 55%;
}

.new-room-form-title-input {
  width: 100%;
}

.new-room-form-description {
  width: 100%;
  height: 4rem;
  resize: none;
}

.limit-input {
  width: 2rem;
  margin-right: 1rem;
}

.button {
  padding: 0.5rem;
}


@keyframes rotate-in{
  from{
    
      transform: rotate(-90deg);
      left: -18rem;

  }
  to{
      transform: rotate(0deg);

  }
}