@import "../Common/styles/themeColors.scss";
.change-input-div {
    position: fixed;
    height: 30vh;
    width: 60%;
    background-color: rgba(0, 206, 209, 0.418);
    bottom: 35%;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hidden {
    display: none;
  }
  
  .bold {
    font-weight: 900;
  }
  /*  */
  .my-profile {
    display: flex;
    font-size: 1.3rem;
    height: 95%;
  }
  /*  */
  .personal-details {
    width: 30%;
    background-color:$divBackgroundColor;
    border-right: $formBorder;
    box-shadow: $shadowBoxDetails;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
  
  .image-container {
    position: relative;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 1rem 0;
  }
  
  .image-buttons {
    position: absolute;
    top: 65%;
    left: 40%;
  }
  
  .profile-image {
    width: 40%;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  .profile-image:hover {
    opacity: 50%;
  }
  .username {
    font-size: 2rem;
  }
  
  .icon {
    height: 2.5rem;
    margin: 0;
    padding: 0;
  }
  
  .details-items-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
  }
  
  .details-item-div {
    position: relative;
    text-align: left;
    margin-left: 3rem;
    margin-bottom: 1rem;
    .hover{
      position: absolute;
      top:-0.2rem;
      opacity: 0;
    }
    &:hover{
      .hover{
        opacity: 0.6;
        height: 1.3rem;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  
  /*  */
  .information {
    width: 70%;
    background-color: $backgroundColor;
  }
  
  .information-items-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 0 0 4rem;
  }
  
  .information-item-div {
    position: relative;
    text-align: left;
    height: 16vh;
    margin-bottom: 2rem;
    .hover{
      position: absolute;
      top:-0.2rem;
      opacity: 0;
    }
    &:hover{
      .hover{
        opacity: 0.6;
        height: 1.3rem;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  
  .information-p {
    text-align: left;
    margin-left: 1rem;
  }
  
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  