.button {
  background-color: #861ae4;
  font-size: 1.15em;
  padding: 0.8rem;
  border: none;
  color: white;
  border-radius: 5px;
}

.button:hover {
  font-size: 1.1rem;
  color: white;
  background-color: #6591c7;
}

.form-div {
  border: 2px solid #5e86b8;
  background-color: white;
  border-radius: none;
}

.change-input-div {
  position: fixed;
  height: 30vh;
  width: 60%;
  background-color: rgba(0, 206, 209, 0.418);
  bottom: 35%;
  left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none;
}

.bold {
  font-weight: 900;
}

/*  */
.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  height: 95%;
  /*  */
  /*  */
}

.profile .personal-details {
  width: 30%;
  background-color: white;
  border-right: 2px solid #5e86b8;
  -webkit-box-shadow: -8px 8px 16px 2px rgba(0, 0, 0, 0.6);
          box-shadow: -8px 8px 16px 2px rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
}

.profile .image-container {
  position: relative;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0 3rem 0;
}

.profile .icon {
  height: 1.9rem;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 0.2rem;
  cursor: pointer;
}

.profile .upload-file, .profile .save-file {
  position: absolute;
}

.profile .upload-file:hover, .profile .save-file:hover {
  background-color: rgba(255, 255, 255, 0.6);
  height: 2.5rem;
}

.profile .upload-file {
  top: 12%;
  left: 58%;
}

.profile .upload-file:hover {
  top: 10%;
  left: 56%;
}

.profile .save-file {
  top: 25%;
  left: 62%;
}

.profile .save-file:hover {
  left: 60%;
}

.profile .profile-image {
  width: 40%;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.profile .profile-image-hover {
  opacity: 50%;
}

.profile .username {
  font-size: 2rem;
}

.profile .details-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.profile .details-item-div {
  position: relative;
  text-align: left;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.profile .details-item-div .hover {
  position: absolute;
  top: -0.2rem;
  opacity: 0;
}

.profile .details-item-div:hover .hover {
  opacity: 0.6;
  height: 1.3rem;
}

.profile .details-item-div:hover .hover:hover {
  opacity: 1;
}

.profile .information {
  width: 70%;
  background-color: #f3f3f3;
}

.profile .information-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2rem 0 0 4rem;
}

.profile .information-item-div {
  position: relative;
  text-align: left;
  height: 16vh;
  margin-bottom: 2rem;
}

.profile .information-item-div .hover {
  position: absolute;
  top: -0.2rem;
  opacity: 0;
}

.profile .information-item-div:hover .hover {
  opacity: 0.6;
  height: 1.3rem;
}

.profile .information-item-div:hover .hover:hover {
  opacity: 1;
}

.profile .information-p {
  text-align: left;
  margin-left: 1rem;
}

.profile .loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=Profile.css.map */