.my-profile {
  font-size: 2rem;
}
.bold {
  font-weight: 900;
}
.personal-details {
  display: flex;
  margin-left: 5rem;
}
.image-buttons {
  display: flex;
  justify-content:space-around;
}
.hidden {
  display: none;
}
.hover:hover {
  background-color: cadetblue;
}
.details-container {
  display: flex;
}
.details-item-div {
  display: flex;
}
.account-settings {
  color: blue;
}
.update {
  color: red;
}
.details-item-div {
  display: flex;
  justify-content: space-between;
}
.information {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.information-item-div {
  margin-bottom: 1rem;
  display: flex;
  align-items:flex-start;
  flex-direction: column;
}
.new-profile-image {
  height: 23rem;
}
.image-container {
  position: relative;
}
.change-image {
  height: 2.5rem;
  position:absolute;
  left: 0;
  bottom: 0.7rem;
  background-color: darkcyan;
}
.change-image:hover {
  background-color:darkgoldenrod;
}