.personal-details {
  display: flex;
  margin-left: 5rem;
}
.image-buttons {
  display: flex;
  justify-content:space-around;
}
.hidden {
  display: none;
}
.hover:hover {
  background-color: cadetblue;
}
.details-container {
  display: flex;
}
.details-item-div {
  display: flex;
}
.account-settings {
  color: blue;
}
.credential-item {
  display: flex;
  justify-content: space-between;
}
.update {
  color: red;
}
.details-item-div {
  display: flex;
  justify-content: space-between;
}
.information {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.information-item-div {
  margin-bottom: 1rem;
  display: flex;
  align-items:flex-start;
  flex-direction: column;
}
/* .information-update-button {
  margin-left: 1rem;
  margin-right: 1rem;
} */
