@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.login-component {
  height: 100%;
  background-color: white;
  .rectangle-shape {
    width: 1050px;
    height: 100%;
    //background-image: url("./pettern2.png");
    position: relative;

    background-color: rgb(252, 34, 52);
    h1 {
      color: white;
      position: absolute;
      left: 4rem;
      font-size: 6rem;
      top: 2rem;
    }

    .about-container {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      position: absolute;
      left: 3rem;
      top: 10rem;
      width: 800px;
      height: 70vh;
      color: rgb(251, 252, 248);
      div {
        margin: 1rem 0;
        text-align: left;
      }
      .p1 {
      }
      .p2 {
        width: 720px;
      }
      .p3 {
        width: 620px;
      }
    }
  }
}

.login-form-container {
  background-color: white;
  border: 0.16rem solid rgb(94, 134, 184);
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25rem;
  align-items: center;
  border-radius: 2px;

  padding: 5rem 4rem;
  position: absolute;
  right: 6rem;
  top: 10rem;
  input :not(.submit-btn) {
    height: 2rem;
    font-size: 0.9rem;
    padding: 1em;
    // margin: 0.5em;
    color: black;
  }
  .submit-btn:hover {
    font-size: 1.1rem;
    color: rgb(255, 255, 255);

    background-color: rgb(101, 145, 199);
  }
  .submit-btn {
    padding: 0.8rem;

    background-color: rgb(134, 26, 228);
    margin-top: 2rem;
    //border: solid rgb(42, 74, 114);
    border: none;
    height: 40%;
    color: white;

    font-size: 1.05rem;
    border-radius: 3px;
  }
}
.rectangle-shape {
  width: 1050px;
  height: 100%;
  //background-image: url("./pettern2.png");
  position: relative;

  background-color: rgb(252, 34, 52);
  h1 {
    color: white;
    position: absolute;
    left: 4rem;
    font-size: 6rem;
    top: 2rem;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    position: absolute;
    left: 3rem;
    top: 10rem;
    width: 800px;
    height: 70vh;
    color: rgb(251, 252, 248);
    div {
      margin: 1rem 0;
      text-align: left;
    }
    .p1 {
    }
    .p2 {
      width: 720px;
    }
    .p3 {
      width: 620px;
    }
  }
}

// .shadow-box-elem {
//   height: 150%;
//   width: 1050px;
//   //border-left: solid black;
//   //height: 1050px;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//   position: absolute;
//   top: 0;
//   transform: rotate(-130deg);
// }
.triangle-shape {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 0;
  height: 0;
  border-bottom: 100vh white solid;
  border-left: 400px solid transparent;
  left: 650px;
  position: absolute;
  //border-image-source: url("./pattern\ \(1\).png");
  top: 0;
}

.register-btn {
  position: absolute;
  top: 3rem;
  right: 5rem;
  width: 5.7rem;
  font-size: 1.15em;
  color: white;
  border: none;
  //border: solid rgb(42, 74, 114);
  //border: rgb(135, 233, 135) solid;
  //background-color: rgb(199, 247, 199);
  border-radius: 5px;
  background-color: rgb(134, 26, 228);
}
.register-btn:hover {
  width: 5.9rem;

  height: 3rem;
  background-color: rgb(101, 145, 199);
}
* {
  font-family: "Roboto";
}

:root {
  --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
  --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
  --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
  --omrs-color-interaction: #1e4bd1;
  --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);

  --omrs-color-ink-high-contrast: #121212;
  --omrs-color-bg-high-contrast: #ffffff;
}
/** END: Non Openmrs CSS **/
div.omrs-input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 20.4375rem;
}

/* Input*/

.omrs-input-filled > input {
  border: none;
  border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
  // width: 1rem;
  height: 2.2rem;
  margin: auto;
  font-size: 1.0625rem;
  padding-left: 0.875rem;
  line-height: 147.6%;
  padding-top: 0.825rem;
  padding-bottom: 0.5rem;
}

.omrs-input-filled > input:focus {
  outline: none;
}

.omrs-input-filled > .omrs-input-label {
  position: absolute;
  font-size: 1.2rem;
  top: 0.3rem;

  left: 0.7rem;
  line-height: 135.6%;
  color: rgb(83, 75, 75);
  transition: top 0.2s;
}

.omrs-input-filled > input:hover {
  background: var(--omrs-color-interaction-minus-two);
  border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
  top: 0;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
  color: var(--omrs-color-interaction);
}

.omrs-input-filled:not(.omrs-input-danger) > input:focus {
  border-color: var(--omrs-color-interaction);
}
