@import "../Common/styles/themeColors.scss";
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $mainColor;
  height: 3.5rem;
  h1 {
    color: black;
    font-size: 2rem;
  }
  .logo {
    margin-left: 1rem;
  }
  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    .profile-menu-button {
      // margin-bottom: 0.2rem;
      height: 3rem;
      // width: 2.2rem;
      border-radius: 50%;
    }
    .profile-menu-container {
      display: flex;
      margin-right: 1rem;
      height: fit-content;
      // position: relative;
      cursor: pointer;
      z-index: 2;
      .profile-menu {
        width: 8rem;
        right: 0;
        top: 3.5rem;
        list-style-type: none;
        background-color: rgb(255, 255, 255);
        position: absolute;
        // width: 100%;
        border: 1px solid black;
        li {
          border-top: 1px solid black;
        }
      }
    }
  }
}
